/* body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* table,
td,
th {
	border: 1px solid #ddd;
	text-align: left;
} */

/* table {
	border-collapse: collapse;
	width: 100x;
} */

/* .table-data {
	position: relative;
	left: 50px;
	top: 50px;
} */
/* th,
td {
	padding: 15px;
} */

.my-custom-scrollbar {
	position: relative;
	width: 100%;
	/* height: 25%; */
	overflow:scroll;
}
.table-wrapper-scroll-x {
	display: block;
}
